aiohttp
aiofiles
aioshutil
anytree
apscheduler
git+https://github.com/rajanvibes/required01
asyncio
beautifulsoup4
cfscrape
dnspython
feedparser
flask
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
git+https://github.com/zevtyardt/lk21.git
httpx
lxml
motor
natsort
pillow
psutil
pybase64
pymongo
pyrogram
python-dotenv
python-magic
https://github.com/rajanvibes/required02
requests
telegraph
tenacity
tgcrypto
uvloop
xattr
git+https://github.com/rajanvibes/required03
